

.blue{
height: 200px;
width: 200px;
background-color: blue;
}

.red{

    height: 200px;
    width: 200px;
    background-color: red;
    
}

.green{
    height: 200px;
    width: 200px;
    background-color: green;
    

}


.yellow{

    height: 200px;
    width: 200px;
    background-color: yellow;
    

}